* {
  margin: 0 !important;
  padding: 0 !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body,
html {
  height: 100%;
}

:root {
  --header_height: 80px;
}

.parallax {
  background-image: url("img/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Full viewport height */
}

.parallax > .wazir {
  height: 70vh;
  position: fixed;
  bottom: 3vh;
  right: 4vw;
  transition: transform 0.1s linear;
}

.header {
  height: var(--header_height);
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.content {
  padding: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 65vw;
  height: calc(100% - var(--header_height));
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory;
}

.content > section {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  scroll-snap-align: start; /* Snap to the start of each section */
  border-bottom: 1px solid #ddd;
}
